@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li>@Html.ActionLink("Text Jumbler", "Page1", "Home")</li>
        <li>@Html.ActionLink("Greeting", "Page2", "Home")</li>
        <li>@Html.ActionLink("Loan Calculator", "Page3", "Home")</li>
    </ul>
</body>
</html>
