@{
    ViewBag.Title = "Page1";
}


        <h2>Text Jumbler</h2>
        <p>Put in two strings and it will scramble the two together.</p>
        <form method="get">
            <input type="text" name="itemA" value="first word" />
            <input type="text" name="itemB" value="second word" />
            <input type="submit" name="submit" value="Submit" />
        </form> 
        <p>@ViewBag.data</p>