@{
    ViewBag.Title = "Page2";
}


<h2>Greeting Generator</h2>
<p>Sends your name to the server</p>
<form method="post">
    <label for="firstname">First name</label>
    <input type="text" name="firstname" value="" />
    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" value="" />
    <input type="submit" value="Enter" />
</form>
<p>@ViewBag.message</p>